<br /><br /><br />
<div class="container" style="height: 500px">
  <button type="button" class="btn btn-primary" (click)="getStocks()">
    Stocks
  </button>
  <button type="button" class="btn btn-info" (click)="getExchanges()">
    Exchanges
  </button>
  <button type="button" class="btn btn-success" (click)="getIndices()">
    Indices
  </button>
  <span style="margin-left:15%;">{{table}}</span>
  <ag-grid-angular
    style="width: auto; height: 450px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [colResizeDefault]="colResizeDefault"
    [enableRangeSelection]="true"
  >
  </ag-grid-angular>
</div>
