<section class="home">
  <div class="main-content">
    <div class="main-heading">
      <b>Stock Prediction</b> is the act of trying to determine the future value
      of a company stock or other financial instrument traded on an exchange.
      The successful prediction of a stock's future price could yield
      significant profit
    </div>
  </div>
  <!-- <highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart> -->
</section>
